<div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row"><h3 style="text-align: center;width: 100%;">One Time Password</h3></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="for_progress" style="width:100%;height: 45px;background:#65c362;"></div>
                </div>
            </div>
        </div>
    
      <div class="col-md-6 offset-md-3">
        <div class="row ">
            
            <div class="col-md-8 offset-md-2">
                
              <div class="row">
                    <div class="col-md-12">
                        <img src="../../../assets/img/WSN_DTR_Home_Digital_Thai_Rice_Left_Logo.svg" class="" style="width: 50%;position: relative;left: 25%;"/>                      
                    </div>
                    <div class="col-md-10 offset-md-1 login_card_outer_main">
                        <div class="card login_card">
                            <article class="card-body login_card-body">
                 
                            <h4 class="card-title mb-4 mt-1">Verify OTP</h4>
                            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                <div class="form">
                                    <div class="form-content">
																			<div class="row">
																				<div class="col-md-12 otp_txt_field">
																						<div class="form-group" >
																								<input type="text" class="form-control" placeholder="OTP" value=""/>
																						</div>	
																						<p>serial number: DTR0001</p>																					
																				</div>  
																				<div class="col-md-6 otp_verify">
																						<div class="form-group" >																								
																								<button type="button" class="form-control" (click)="navigate()" style="background: #f2efdc;">Verify OTP</button>
																						</div>																						
																				</div>
																				<div class="col-md-6 otp_cancel">
																						<div class="form-group" >																								
																								<button type="button" class="form-control" style="background: #cbe0de;">Cancel</button>
																						</div>																						
																				</div>
																				<div class="col-md-12"><a href="#" class="hyper"><p>it's a hyper link</p></a></div>
																			</div>                                        
                                    </div>
                                </div>
                            </form>
                            </article></div>
    
                    </div>
                </div>
    
            </div>
            
        </div>
      </div>
    
    </div>
    
    