.login_card_outer_main{padding: 10px 0;}
.login_card{background: none;border: none;}
.login_card-body{padding:0;}
.login_card-body form{padding:1.25rem;}
.login_card-body .card-title{padding: 10px 0 !important;text-align: center;margin: 0 auto !important;background:#f2efdc;border-radius: 10px 10px 0 0;}
.login_card-body form{background: #447a8c;border-radius: 0 0 10px 10px;}
.otp_txt_field{padding: 0 6px;}
.otp_verify, .otp_cancel{padding: 0 6px;}
.form-content p{color: #fff;}
.hyper{text-align: center;}