<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<div class="row">
    <div class="col-md-5">
      <div class="row ">
          
          <div class="col-md-10 offset-md-2 custom_card_div">
              
            <div class="row">

                  <div class="col-md-12">
                      <img src="../../../assets/img/WSN_DTR_Home_Digital_Thai_Rice_Left_Logo.svg" class="" style="width: 50%;position: relative;left: 25%;"/>                      
									</div>
									
                  <div class="col-md-12 login_card_outer_main">
              
                     
                      <div class="card login_card">
												<article class="card-body login_card-body">
						
                        <h4 class="card-title mb-4 mt-1">Sign Up</h4>
                        
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                          <div class="row">
                            <div class="col-md-6 reg_left_form">
                                <div class="form-group" >
                                    <input type="text" class="form-control" placeholder="Your Name *" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number *" value=""/>
                                </div>
                                <div class="input-group password_input_group">
                                  <input class="input-group-field form-control" type="password" placeholder="Your Password *">
                                  <div class="input-group-append">
                                    <button class="btn form-control btn_show_paswd" type="button">
                                      <i class="fa fa-eye"></i>
                                    </button>
                                  </div>
                                </div>
                            </div>  
                            <div class="col-md-6 reg_right_form">
                                  <div class="form-group" >
                                      <input type="text" class="form-control" placeholder="Your Name *" value=""/>
                                  </div>
                                  <div class="form-group">
                                      <input type="text" class="form-control" placeholder="Phone Number *" value=""/>
                                  </div>
                                  <div class="input-group password_input_group">
                                    <input class="input-group-field form-control" type="password" placeholder="Your Password *">
                                    <div class="input-group-append">
                                      <button class="btn form-control btn_show_paswd" type="button">
                                        <i class="fa fa-eye"></i>
                                      </button>
                                    </div>
                                  </div>
                            </div>
                          
                            <div class="col-md-12">
                              <div class="form-group">                                    
                                <input type="checkbox"> save passwordadfajdslkfjalkdjf;dsfdsfdsfdsfdsfdsf
                                lkasdjf;lkadsjf;lkadjsflkdjasflkjdasflkjdasf;
                                kljkdl;fjdas;fjakslfjkldjfalksjflajdflkdfl;ajdsf;lkajsdklfjfl;kja
                                kljfalk;sjdf;lksajgdfgfhfxhfghf
                              </div>
                            </div>                      
                              <div class="col-md-4 offset-md-2 reg_left_form">                              
                                <div class="form-group">
                                    <button type="button" class="form-control" style="background-color: #f2efdc;">Submit</button>                              
                                </div>
                              </div>
                              <div class="col-md-4 reg_right_form">                              
                                <div class="form-group">
                                    <button  (click)="navigate()" type="button" class="form-control" style="background-color: #cbe0de;">Save</button>
                                </div>
                              </div>
                          </div>
                        </form>

                         
                        </article>
                      </div>
                      
                 
                  </div>
              </div>

          </div>
          
      </div>
    </div>
    <div class="col-md-7">
      <img src="../../../assets/img/WSN_DTR_Home_Digital_Thai_Rice_right_image.svg" class="dtr_right_image in_active_dtr_on_hover r_img" style="width: 95%;"/>                      
    </div>
</div>