

    <div class="row ">
        <div class="col-md-12 col-12 footer_div">
            
             <div class="row footer_ht mobile_fot">
                 
                 <div class="col-md-3 margin_lft col-12 footer_ht ftr_pd">
                     <div class="row social_icons footer_ht">
                        
                        
                        
                    </div>
                 </div>
                 
                 <div class="col-md-3"></div>
                 
                 <div class="col-md-5 col-12" style="padding: 0;">
                     <div class="copy_rights">
                        <div class="align_copy">
  
                                    <p id="copy_right_en">Copyright &copy; 2018-2019 WSN Technology Co., Ltd. All Rights Reserved.</p>
                                    <p id="policies_en"><span><a href="#" target="_blank">Cookie Policy</a></span>
                                        &nbsp;|&nbsp;<span><a href="#" target="_blank">Privacy Policy</a></span>
                                        &nbsp;|&nbsp;<span><a href="#" target="_blank">Terms of Use</a></span>
                                    </p>
  
  
                        </div>
                    </div>
                 </div>   
                 
             </div>
              
          </div>
      </div>


