

<!--  -->


<div class="row">
    <div class="col-md-12 col-12 total_icon_container">
        <div class="row" style="background: #cbcbcb;">
            

            
            
            
            
            
            <div class="wsn_txt_div col-8 text_container">
               <div class="logo_txt">


                  
                      
                      <div class="wsn_menu_logo">
                          
                        
                       <div class="header_logo_img">
                           <img src="../../../assets/img/WSN_DTR_Home_Header_Logo.svg" id="header_left_logo"/>
                       </div>                              
                          
                          
                      </div>
                      
                      
                   <div id="eng_wsn">WSN TECHNOLOGY CO.,&nbsp;LTD.</div>
                  


                
               </div>
            </div>
            
            <div class="media_icon_div col-4">
                <div class="row icon_container_row">
                  <div class="tablet_sty head_mobile_sty_1"></div>
                  <div class="right_icon_container right_head tablet_sty head_mobile_sty_2">
                    
                      <div class="row icon_container_sub_row">
                        <div class="btn_width col-4">
                            <div class="dial_dropdown">
                                <div class="dropdown_btn1">
                                    <img src="../../../assets/img/WSN_DTR_Home_icon_Dial.svg"/>
                                </div>
                                <div class="dial_dropdown_content">
                                    <span>+66&#40;2&#41;-587-9653</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="btn_width col-4">
                            <div class="share_dropdown">
                                <div class="dropdown_btn2">
                                    <img src="../../../assets/img/WSN_DTR_Home_icon_Share.svg"/>
                                </div>
                                <div class="share_dropdown_content">

                                    
<div class="fb-share-button facebook_div" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true">
  <!--<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.wsntech.org%20" target="_blank" class="fb-xfbml-parse-ignore">-->
  <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.wsntech.org%2Fs&amp;src=sdkpreparse" target="_blank" class="fb-xfbml-parse-ignore">
      <img src="../../../assets/img/WSN_DTR_Home_Share_Dropdown_Fb.svg"/>
  </a>
</div>
                                    
<div class="twitter_div">                                    
   <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fpublish.twitter.com%2F&amp;ref_src=twsrc%5Etfw&amp;text=Twitter%20Publish&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2Fwww.wsntech.org%2Fs%2F"><img src="../../../assets/img/WSN_DTR_Home_Share_Dropdown_Twitter.svg"/></a>
</div>                                    

<div class="linked_in">
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.wsntech.org/s/&amp;title=LinkedIn%20Developer%20Network&amp;summary=My%20favorite%20developer%20program&amp;source=LinkedIn" target="_blank"><img src="../../../assets/img/WSN_DTR_Home_Share_Dropdown_LinkedIn.svg"/></a>     
</div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="btn_width col-4">
                        
                            <div class="globe_dropdown">
                                <div class="dropdown_btn3">
                                    <img src="../../../assets/img/WSN_DTR_Home_icon_Globe.svg"/>
                                </div>
                                <div class="globe_dropdown_content">
                                    <a href="#"><img src="../../../assets/img/WSN_DTR_Home_Globe_Dropdown_Eng.svg" id="eng_img"/></a>                     
                                    <a href="#"><img src="../../../assets/img/WSN_DTR_Home_Globe_Dropdown_Thai.svg" id="th_img"/></a>                       
                                </div>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


