<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<div class="row" >
    <div class="col-md-5">
      <div class="row ">
          
          <div class="col-md-10 offset-md-2 custom_card_div">
              
            <div class="row">

                  <div class="col-md-12">
                      <img src="../../../assets/img/WSN_DTR_Home_Digital_Thai_Rice_Left_Logo.svg" class="" style="width: 50%;position: relative;left: 25%;"/>                      
									</div>
									
                  <div class="col-md-12 login_card_outer_main">
              
                     
                      <div class="card login_card">
												<article class="card-body login_card-body">
						
												<h4 class="card-title mb-4 mt-1">Sign in</h4>
													<form>

                            <div class="input-group email_input_group">
                              <span class="input-group-label email_input_group_label">
                                <i class="fa fa-user"></i>
                              </span>
                              <input class="input-group-field form-control" type="email" placeholder="">
                            </div>

														<div class="input-group password_input_group">
                              <span class="input-group-label password_input_group_label">
                                <i class="fa fa-lock"></i>
                              </span>
                              <input class="input-group-field form-control" type="password" placeholder="">
                              <div class="input-group-append">
                                <button class="btn form-control btn_show_paswd" type="button">
                                  <i class="fa fa-eye"></i>
                                </button>
                              </div>
                            </div>

                        <div class="form-group save_check_forgot_link"> 
                            <div class="checkbox">
                                    <label> <input type="checkbox" class="save_check"> Save password </label><a class="float-right" href="#">Forgot?</a>  
                            </div>
                        </div> 
                        
                        <div class="form-group button_groups">
                                <button type="submit" class="btn btn-block login_button"> Login  </button>
                                <button type="submit"  (click)="navigate()" class="btn btn-block register_button"> Registration  </button>
                        </div>   
                                                                                                                            
                    </form>
                </article>
                      </div>
                      
                 
                  </div>
              </div>

          </div>
          
      </div>
    </div>
    <div class="col-md-7">
      <img src="../../../assets/img/WSN_DTR_Home_Digital_Thai_Rice_right_image.svg" class="dtr_right_image in_active_dtr_on_hover r_img" style="width: 95%;"/>                      
    </div>
</div>