<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>


<div class="dtr_content_0 row container_h">
<!--
    <nav class="nav_total">
        <a routerLink="home"  routerLinkActive="active" skipLocationChange>Home        ></a>
        <a routerLink="about" skipLocationChange>About          ></a>
        <a routerLink="otp" skipLocationChange>OTP         ></a>
        <a routerLink="verify otp" skipLocationChange>verify  otp   ></a>
        <a routerLink="roleSelection" skipLocationChange>  Role Selection   ></a>




        <a routerLink="dashboard" skipLocationChange>Dashboard</a>
        <a routerLink="page1" skipLocationChange>dynamic_forms</a>
    </nav>
-->
    <div class="rendering_div">
    
        <router-outlet></router-outlet>

    </div>
</div>  



<app-footer></app-footer>